.buttons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons-container button{
    height: 30px;
    width: 150px;
    margin: 12px 0px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(0, 50, 248);
    background-color: white;
    display: flex;
    align-items: center;
}

.buttons-container button:hover{
    background-color: rgb(239, 239, 239);
}